python-multipart==0.0.5
fastapi==0.71.0
uvicorn==0.16.0
aiohttp==3.8.1
redis==4.1.0
# dev dependencies
pdoc3==0.10.0
pytest==6.2.5
pytest-cov==3.0.0
# youwol_utils dependencies
pyyaml==6.0
async-generator==1.10
# Frozen indirect dependencies
starlette==0.17.1
pydantic==1.9.0